<!doctype html>
<html ng-app="yodude">
    <head>
        <script src="https://cdn.respoke.io/respoke.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.4/webcam.min.js"></script>
        <script src="respoke-logo.js"></script>
        <link rel="stylesheet" type="text/css" href="index.css" />
        <script src="yodude.js"></script>
    </head>
    <body ng-controller="AppController">
        <camera></camera>
        <div ng-repeat="(endpoint, imageContents) in people" class="person" ng-click="startCall(endpoint)">
            <label>{{ endpoint }} {{ endpoint === myEndpoint ? '(me)' : '' }}</label>
            <pic base64="imageContents"
                ng-show="!activeCall || (activeCall.remoteEndpoint.id !== endpoint && endpoint !== myEndpoint)"></pic>
            <div ng-click="stopCall(endpoint, $event)"
                ng-show="(activeCall && endpoint === myEndpoint) || activeCall.remoteEndpoint.id === endpoint">
                <video id="video-{{ endpoint }}" />
            </div>
        </div>
        <a href="https://github.com/respoke/yodude" target="_blank" class="github">
            fork me on github
        </a>
        <span class="instructions">
            Click somebody to call them
        </span>
        <a href="https://www.respoke.io" target="_blank" class="respoke">
            powered by respoke
        </a>
    </body>
</html>
